@path : '../fonts/';
@font-face {
  font-family: 'ModernH-Bold';
  src: url('@{path}ModernH-Bold.eot?#iefix') format('embedded-opentype'),  
  url('@{path}ModernH-Bold.woff') format('woff'), 
  url('@{path}ModernH-Bold.ttf')  format('truetype'), 
  url('@{path}ModernH-Bold.svg#ModernH-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ModernH-Light';
  src: url('@{path}ModernH-Light.eot?#iefix') format('embedded-opentype'),  
  url('@{path}ModernH-Light.woff') format('woff'), 
  url('@{path}ModernH-Light.ttf')  format('truetype'), 
  url('@{path}ModernH-Light.svg#ModernH-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ModernH-Medium';
  src: url('@{path}ModernH-Medium.eot?#iefix') format('embedded-opentype'),  
  url('@{path}ModernH-Medium.woff') format('woff'), 
  url('@{path}ModernH-Medium.ttf')  format('truetype'), 
  url('@{path}ModernH-Medium.svg#ModernH-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PSLxKittithada';
  src: url('@{path}PSLxKittithada.eot?#iefix') format('embedded-opentype'),  
  url('@{path}PSLxKittithada.woff') format('woff'), 
  url('@{path}PSLxKittithada.ttf')  format('truetype'), 
  url('@{path}PSLxKittithada.svg#PSLxKittithada') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PSLxKittithada-Bold';
  src: url('@{path}PSLxKittithada-Bold.eot?#iefix') format('embedded-opentype'),  
  url('@{path}PSLxKittithada-Bold.woff') format('woff'), 
  url('@{path}PSLxKittithada-Bold.ttf')  format('truetype'), 
  url('@{path}PSLxKittithada-Bold.svg#PSLxKittithada-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniversATT';
  src: url('@{path}UniversATT.eot?#iefix') format('embedded-opentype'),  
  url('@{path}UniversATT.woff') format('woff'), 
  url('@{path}UniversATT.ttf')  format('truetype'), 
  url('@{path}UniversATT.svg#UniversATT') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniversATT-Bold';
  src: url('@{path}UniversATT-Bold.eot?#iefix') format('embedded-opentype'),  
  url('@{path}UniversATT-Bold.woff') format('woff'), 
  url('@{path}UniversATT-Bold.ttf')  format('truetype'), 
  url('@{path}UniversATT-Bold.svg#UniversATT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniversATT-BoldItalic';
  src: url('@{path}UniversATT-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('@{path}UniversATT-BoldItalic.woff') format('woff'), 
  url('@{path}UniversATT-BoldItalic.ttf')  format('truetype'), 
  url('@{path}UniversATT-BoldItalic.svg#UniversATT-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniversATT-Italic';
  src: url('@{path}UniversATT-Italic.eot?#iefix') format('embedded-opentype'),  
  url('@{path}UniversATT-Italic.woff') format('woff'), 
  url('@{path}UniversATT-Italic.ttf')  format('truetype'),
  url('@{path}UniversATT-Italic.svg#UniversATT-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Univers-Black';
  src: url('@{path}Univers-Black.eot?#iefix') format('embedded-opentype'),  
  url('@{path}Univers-Black.woff') format('woff'), 
  url('@{path}Univers-Black.ttf')  format('truetype'), 
  url('@{path}Univers-Black.svg#Univers-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniversLightNormalLeftis';
  src: url('@{path}UniversLightNormalLeftis.eot?#iefix') format('embedded-opentype'),  
  url('@{path}UniversLightNormalLeftis.woff') format('woff'), 
  url('@{path}UniversLightNormalLeftis.ttf')  format('truetype'), 
  url('@{path}UniversLightNormalLeftis.svg#UniversLightNormalLeftis') format('svg');
  font-weight: normal;
  font-style: normal;
}